#/etc/systemd/system/upd.service

[Unit]
Description=Unifi Person Detector
After=multi-user.target

[Service]
Type=simple
Environment=DISPLAY=:1
WorkingDirectory=/videosecurity/
User=pi
ExecStart=/videosecurity/unifiwatcher.py
StandardError=syslog

[Install]
WantedBy=multi-user.target
